/* Utils */
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

.card {
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: $borderRadius;

    &:last-child {
        margin-bottom: 0;
    }
}

.p-toast {
    &.p-toast-top-right,
    &.p-toast-top-left,
    &.p-toast-top-center {
        top: 100px;
    }
}

.p-dialog-content
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.p-dialog-header {
    padding: 0 !important;
}

.p-dialog-header-actions
{
    margin-top: 16px;
    margin-right: 16px;
    margin-left: auto;

    border-radius: 50%;

    height: auto !important ;
}

.p-dialog-header-actions
{
    margin: 0 !important;
    margin-left: auto !important;
}

.p-button-text.p-button-secondary
{
    color: white !important;
}
.p-button-text.p-button-secondary:hover
{
    color: black !important;
}