:root {
    --background1: #000000;
    --background2: #212121;
    --background3: #707070;
    --text: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

.boton1 {
    background-color: var(--background2);
    color: var(--text);
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}

.boton1:hover {
    background-color: var(--background3);
}

.boton2 {
    background-color: var(--text);
    color: var(--background1);
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}

#menunavegacion {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    background-color: var(--background1);
    display: flex;
    justify-content: space-around;
}

#map {
    position: absolute;
    top: 0;
    bottom: 10%;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/*Inicio de session*/

#fondoiniciosession * {
    font-size: 110%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#fondoiniciosession div:first-child * {
    font-size: 200%;
    padding: 40px;
    color: black;
}

#fondoiniciosession div:last-child{
    background-color: black;
    width: 100%;
    padding: 30px;
    height: 80vh;
    gap: 10px;
}

#fondoiniciosession h2 {
    font-size: 200%;
}

#fondoiniciosession input {
    width: 18rem;
    height: 5rem;
    border-radius: 50px;
    color: black;
    margin-top: -20px;
    margin-bottom: -20px;
}

#fondoiniciosession input:last-child {
    margin-top: 40px;
}


/*Pagina Perfil*/
#fondoperfil div:first-child {
    background-color: var(--background1);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

#fondoperfil div:first-child img {
    border-radius: 100%;
    height: 6rem;
    width: 6rem;
}

#informacionperfil {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}

#botonmarcadoresperfil {
    transition: 300ms;
    padding: 1.5rem 1rem;
    background-color: var(--background1);
    position: absolute;
    top: 50%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: var(--text);
    z-index: 2;
}

#botonmarcadoresperfil.activo {
    transition: 300ms;
    transform: rotate(180deg);
    animation: rotateSideButton 0.5s ease-in-out;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

@keyframes rotateSideButton {
    0% { transform: rotate(0deg); }
    50% {border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;}
    100% { transform: rotate(180deg); }
}

#menulateralperfil {
    position: fixed;
    left: -100%; /* Oculto fuera de la pantalla */
    top: 0;
    width: 100%;
    height: 100vh;
    background: #f0f0f0;
    transition: left 0.5s ease-in-out;
}

#menulateralperfil.activo {
    left: 0; 
}