.configuration-background {
    display: flex;
    justify-content: space-between;

}

.configuration-console {
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2vw;
    height: 80vh;
    border-right: 1px solid var(--text);
}

.configuration-console button{
    width: 15vw;
    height: 7vh;
    font-weight: bold;
    font-size: 100%;
    padding: 0.2rem;
    border-radius: 100px;
}

.configuration-pages {
    width: 80vw;
    padding: 2vw;
}

.sign-out-button {
    position: absolute;
    bottom: 10%;
}