
.feed-card-gradient-1 {
    background: linear-gradient(40deg, #ff0026 25%, #d000ff);
}

.feed-card-gradient-2 {
    background: linear-gradient(140deg, #FFB200 25%, #FF4800);
}

.feed-card-gradient-3 {
    background: linear-gradient(40deg, #00ffae 25%, #00a2ff);
}

.feed-card-gradient-4 {
    background: linear-gradient(50deg, #006aff 15%, rgb(212, 0, 255));
}