nav {
    display: flex;
    position: fixed;
    bottom: 0;

    width: 100%;
    padding: 10px;

    background: var(--background0);

    text-align: center;
    justify-content: space-around;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 50vw;
    margin: 8px;
}

@media (max-width: 500px) {
    .navMenu {

        width: 90vw;
    }
}

.navMenu div {
    max-height: 40px;
    max-width: 40px;
}

.navMenu div a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--text);
}