#fondobuscador {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

#fondobuscador div:first-child input {
    border-radius: 40px;
    padding: 16px;
    border: none;
    width: 80vw;
}

#resultadobusqueda {
    width: 95vw;
    padding-bottom: 4rem;
}

.searchuserdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}

.infousersearch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.infousersearch img {
    height: 87px;
    width: 87px;
    border-radius: 100%;
}

.infousersearch p:nth-child(2) {
    text-align: center;
    border-radius: 50px;
    background-color: var(--text);
    color: var(--background1);
    padding: 0px 10px;
}

#notfoundsearcherror {
    text-align: center;
    margin: 30px;
}

.imagenfalsa_carga {
    background-color: var(--background2);
    height: 87px;
    width: 87px;
    border-radius: 50px;
}

.nombrefalso_carga {
    background-color: var(--background2);
    margin: 5px;
    height: 25px;
    width: 25vw;
    border-radius: 20px;
}

.botonfalso_carga {
    background-color: var(--background2);
    margin: 5px;
    height: 40px;
    width: 70px;
    border-radius: 50px;
}

.imagenfalsa_carga, .nombrefalso_carga, .botonfalso_carga {
    animation: pulso 1s infinite;
}

@keyframes pulso {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.searchfield {
    background-color: var(--text) !important;
    color: var(--background1) !important;
}