#fondobuscador {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

#fondobuscador div:first-child input {
    border-radius: 40px;
    padding: 16px;
    border: none;
    width: 80vw;
}

#resultadobusqueda {
    width: 95vw;
}

.searchuserdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}

.infousersearch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}