.search-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6vh;
}

.search-field {
    width: 75vw;
    margin-bottom: 32px;

    border-radius: 42px;
    padding: 16px;
    border: none;

    background-color: var(--text) !important;
    color: var(--background1) !important;
}


#search-user-list-container {
    width: 75%;
    margin: auto;
    padding-bottom: 4rem;
}

.search-user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.search-user-container 
{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 32px;
    padding: 16px;

    border-radius: 16px;
}

.search-user-container:hover 
{
    background-color: rgb(15, 15, 15) !important;
}

.search-user-information-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.search-user-information-container img {
    height: 87px;
    width: 87px;
    border-radius: 100%;
}

.search-user-information-name 
{
    font-size: x-large;
    font-weight: 500;
}

.search-user-information-username {
    text-align: center;
    border-radius: 50px;
    background-color: var(--text);
    color: var(--background1);
    padding: 0px 10px;
}

.search-fake-user-image {
    background-color: var(--background2);
    height: 87px;
    width: 87px;
    border-radius: 100%;
}

.search-fake-user-name {
    background-color: var(--background2);
    margin: 6px;
    height: 26px;
    width: 26vw;
    border-radius: 8px;
}

.search-fake-user-username {
    background-color: var(--background2);
    margin: 6px;
    height: 26px;
    width: 16vw;
    border-radius: 16px;
}

.search-fake-user-description {
    background-color: var(--background2);
    margin: 6px;
    height: 26px;
    width: 32vw;
    border-radius: 16px;
}

.search-fake-button {
    background-color: var(--background2);
    margin: 6px;
    height: 46px;
    width: 72px;
    border-radius: 32px;
}

.search-fake-user-image, .nombrefalso_carga, .search-fake-button {
    animation: fade-pulse 1s infinite;
}

#notfoundsearcherror {
    text-align: center;
    margin: 32px;
}


@keyframes fade-pulse {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.search-popup-message-bad {
    position: fixed;
    top: 50%;
    left: 37%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--background1);
    box-shadow: 0 0 50px rgba(255, 0, 0, 0.6);
    padding: 20px;
    border-radius: 20px;
    font-size: 200%;
    animation: shake 0.5s ease-in-out 1;
}

.search-popup-message-good {
    position: fixed;
    top: 50%;
    left: 37%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--background1);
    box-shadow: 0 0 50px rgba(103, 255, 80, 0.6);
    padding: 20px;
    border-radius: 20px;
    font-size: 200%;
    animation: shake 0.5s ease-in-out 1;
}