:root {
    --background1: #000000;
    --background2: #212121;
    --background3: #707070;
    --background4: #1A1A1A;
    --text: #FFFFFF;
}

html {
    margin: 0;
    padding: 0;

    background-color: var(--background1);
    color: var(--text);

    font-family: 'Inter', Arial;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 30px 20px;
    background-image: radial-gradient(ellipse 100% 100% at top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 50;
}

header * {
    z-index: 50;
}

header img {
    max-height: 50px;
    max-width: 50px;
}

header h2 {
    font-style: italic;
    font-weight: 700;
}

.icon
{
    width: 24px;
    height: 24px;
}

.inter {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.primaryButton {
    background-color: var(--background2);
    color: var(--text);
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}

.primaryButton:hover {
    background-color: var(--background3);
}

.secondaryButton {
    background-color: var(--text);
    color: var(--background1);
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}

.ternaryButton {
    transition: 500ms;
    background-color: var(--background4);
    border: 2px solid var(--background3);
    border-radius: 40px;
    color: white;
    padding: 10px;
}

.ternaryButton:hover {
    transition: 500ms;
    background-color: var(--text);
    border: 2px solid var(--background4);
    color: #000000;
}

.titleLogo {
    color: var(--text);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: -2rem;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

/*Barra de scroll*/
/* Amplada */
::-webkit-scrollbar {
    width: 1.1rem;
}

/* Fons */
::-webkit-scrollbar-track {
    background: var(--background1);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* barra */
::-webkit-scrollbar-thumb {
    background: var(--background2);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* Cambio de color al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
    background: var(--background3);
}


/*Transicion entre paginas*/
/*         */
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.4s ease-in;
}

.fade-enter-from, .fade-leave-to {
    opacity: 0;
}