:root {
    --background1: #000000;
    --background2: #212121;
    --background3: #707070;
    --text: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;

    font-family: 'Inter', Arial;
}

html {
    background-color: var(--background1);
}

.boton1 {
    background-color: var(--background2);
    color: var(--text);
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}

.boton1:hover {
    background-color: var(--background3);
}

.boton2 {
    background-color: var(--text);
    color: var(--background1);
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}

.navfooter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    background-color: var(--background1);
    display: flex;
    justify-content: space-around;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.divmenufooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.tituloapp {
    color: var(--text);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: -2rem;
}

#map {
    position: absolute;
    top: 0;
    bottom: 10%;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/*Inicio de session*/

#templatelogin {
    background: linear-gradient(to bottom, #000000, #2A2A2A, #1A1A1A, #000000);
}

.iniciosession {
    color: var(--text);
    text-align: center;
}

.iniciosession * {
    font-size: 110%;
}

.iniciosession div div {
    margin-top: 4rem;
}

.iniciosession h2 {
    font-size: 270%;
}

.iniciosession input {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    color: var(--background3);
}

.iniciosession input:hover {
    background-color: var(--background1);
    color: var(--text);
}

.iniciosession button {
    position: absolute;
    background-color: var(--text);
    color: var(--background1);
    padding: 1rem;
    border-radius: 50px;
    top: 120%;
    right: 25%;
    left: 25%;
    
}

#recuerdameinput {
    background-color: var(--background3);
    border: var(--text);
}